.header {
	display: flex;
	justify-content: space-between;
	min-width: 327px;
	width: 100%;
	max-width: 540px;
	color: var(--screen-color);
}

.themes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	color: var(--screen-color);
	font-size: 15px;
}

.themeDivTitle {
	width: 60%;
}

.themeDivSelector {
	width: 40%;
}

.themesNumbers {
	display: flex;
	justify-content: space-between;
	padding: 0 3px;
}
.themesNumber {
	width: 9px;
	text-align: center;
}

.themesSelector {
	display: flex;
	height: 16px;
	width: 100%;
	border-radius: var(--border-radius--25);
	padding: 2px;
	background: var(--keypad-background);
	cursor: pointer;
}

.selectdark {
	justify-content: flex-start;
}

.selectlight {
	justify-content: center;
}

.selectpurple {
	justify-content: flex-end;
}

.themeButton {
	height: 12px;
	width: 12px;
	border-radius: var(--border-radius--25);
	background: var(--key-background--toggle-result);
}

.screen {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100px;
	min-width: 327px;
	width: 100%;
	max-width: 540px;
	margin: 34px 0;
	padding: 20px 20px 0 20px;
	border-radius: var(--border-radius--5);
	background: var(--screen-background);
	color: var(--screen-color);
	font-size: 54px;
}

.keyPad {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-areas:
		"seven eight nine delete"
		"four five six addition"
		"one two three soustraction"
		"point zero division multiplication"
		"reset reset result result";
	min-width: 327px;
	width: 100%;
	max-width: 540px;
	border-radius: var(--border-radius--5);
	padding: 19px 15px;
	background: var(--keypad-background);
}
