:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	marging: 0;
	padding: 0;
}

.theme1 {
	--main-background: hsl(222, 26%, 31%);
	--keypad-background: hsl(223, 31%, 20%);
	--screen-bacground: hsl(224, 36%, 15%);

	--key-background--del-reset: hsl(225, 21%, 49%);
	--key-shadow--del-reset: hsl(224, 28%, 35%);

	--key-background--toggle-result: hsl(6, 63%, 50%);
	--key-shadow--toggle-result: hsl(6, 70%, 34%);

	--key-background: hsl(30, 25%, 89%);
	--key-shadow: hsl(28, 16%, 65%);

	--text-color--light: hsl(0, 0%, 100%);
	--text-color--dark: hsl(221, 14%, 31%);
	--text-color-result: hsl(0, 0%, 100%);
}

.theme2 {
	--main-background: hsl(0, 0%, 90%);
	--keypad-background: hsl(0, 5%, 81%);
	--screen-bacground: hsl(0, 0%, 93%);

	--key-background--del-reset: hsl(185, 42%, 37%);
	--key-shadow--del-reset: hsl(185, 58%, 25%);

	--key-background--toggle-result: hsl(25, 98%, 40%);
	--key-shadow--toggle-result: hsl(25, 99%, 27%);

	--key-background: hsl(45, 7%, 89%);
	--key-shadow: hsl(35, 11%, 61%);

	--text-color--light: hsl(0, 0%, 100%);
	--text-color--dark: hsl(60, 10%, 19%);
	--text-color-result: hsl(0, 0%, 100%);
}

.theme3 {
	--main-background: hsl(268, 75%, 9%);
	--keypad-background: hsl(268, 71%, 12%);
	--screen-bacground: hsl(268, 71%, 12%);

	--key-background--del-reset: hsl(281, 89%, 26%);
	--key-shadow--del-reset: hsl(285, 91%, 52%);

	--key-background--toggle-result: hsl(176, 100%, 44%);
	--key-shadow--toggle-result: hsl(177, 92%, 70%);

	--key-background: hsl(268, 47%, 21%);
	--key-shadow: hsl(290, 70%, 36%);

	--text-color--light: hsl(52, 100%, 62%);
	--text-color--dark: hsl(198, 20%, 13%);
	--text-color-result: hsl(0, 0%, 100%);
}

